{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <span style="padding-left: 15px; padding-right: 15px;">
        <i class="save-icon fa-2x fa {{saved_icon_class}}"></i>
      </span>
      <h2>{{channel.name}}</h2>
    </div>
    <p>Registered by: <a href="mailto:{{channel.registered_by_user}}">{{channel.registered_by_user}}</a></p>
    <p>Run by: <a href="mailto:{{run.started_by_user}}">{{run.started_by_user}}</a></p>
    <p><a href="{{run.content_server}}/channels/{{channel.channel_id.hex}}/edit">View in Content Workshop →</a></p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="run-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other Runs
      </button>
      <div class="dropdown-menu" aria-labelledby="run-dropdown">
        {% for run in channel.runs.all %}
        <a class="dropdown-item" href="/runs/{{run.run_id.hex}}/">{{run.modified_at}}</a>
        {% endfor %}
      </div>
    </div>
    <br>
  </div>
</div>
<div class="card">
  <div class="card-header">
   <h3 class="card-title">Run Statistics</h3>
 </div>
 <div class="card-block">
  <div class="progress">
    {% for stage in run_stages %}
    <div class="progress-bar progress-bar-striped active stage-progress" aria-valuenow="20"
    aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" data-animation="false" title="{{stage.name}}: {{stage.duration}}" data-trigger="focus hover" style="background-color: {{stage.color}}; width: {{stage.percentage}}%;">{{stage.name}}</div>
    {% endfor %}
  </div>
  <br>
  <p>Total duration: {{total_time}}</p>
  <hr>
  <h6>Resource Counts</h6>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Current Run</th>
          <th>Previous Run</th>
        </tr>
      </thead>
      <tbody>
        {% for run_stat in resource_counts %}
        <tr>
          <td><i class="fa {{run_stat.icon}}"></i> {{run_stat.name}}</td>
          <td class="{{run_stat.bg_class}}">{{run_stat.value}}</td>
          <td>{{run_stat.previous_value}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h6>Resource Sizes</h6>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Current Run</th>
          <th>Previous Run</th>
        </tr>
      </thead>
      <tbody>
        {% for run_stat in resource_sizes %}
        <tr>
          <td><i class="fa {{run_stat.icon}}"></i> {{run_stat.name}}</td>
          <td class="{{run_stat.bg_class}}">{{run_stat.value}}</td>
          <td>{{run_stat.previous_value}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
       <h3 class="card-title">Content Tree</h3>
     </div>
     <div class="card-block">
      <ul class="content-tree">
      {%for node in topic_tree %}
        {%include "tree_list.html" %}
      {%endfor%}
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <canvas id="resource-chart" width="500" height="300" style="display: block; height: 400px; width: 500px;"></canvas>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
var channel_id = "{{channel.channel_id.hex}}";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/runs.js' %}"></script>
{% endblock %}